<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
 
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
          
</head>
<body>
<% include ./partials/header %>
<div id="MainBody">
  <div id="LeftBox">
    <div id="content">
      <h1>Our Mission</h1>
      <p>Whether it be allergies, dietary restrictions, or ethical standards, its fair to assume that most of us have other activities we prefer over standing around in grocery stores and reading product labels. Food Detective is designed to quickly and easily provide all the information you will need to maintain your dietary lifestyle. Our time is valuable. Let’s take it back! </p>
    </div>
  </div>
  <div id="rightBox">
    <% include ./partials/userForm.ejs%>
  </div>
 
</div>
<% include ./partials/footer %>
<script src="/routes/index.js"></script>
</body>
</html>
